[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {extras = ["speedups"], version = "3.8.1"}
"discord.py" = "1.7.3"

[dev-packages]

[requires]
python_version = "3.10"
